<section class="border-2 border-stone-300 mb-3">
    <div class="bg-stone-300 p-1.5 flex justify-between sm:justify-start pl-title">
        <h3>{{title}}</h3>
        <p class="ml-2 md:ml-4">▼</p>
    </div>
    
    <div class="hidden">
        {{#if belongsToThisUser}}
        <div class="border-t-2 border-stone-400">
            <a role="button" href="/edit-playlist/{{pl._id}}" class="rectangle-btn w-36">Edit</a>

            <button type="button" data-id="{{pl._id}}" data-modal-btn="open-modal" data-btn-type="del-btn" class="rectangle-btn w-36 text-left">Delete</button>
        </div>
        {{/if}}
        
        {{> @partial-block}}
    </div>
</section>