<section class="border border-stone-300 mb-3">
    <div class="border-b border-stone-300 px-2 py-2 flex justify-between sm:justify-start fl-title">
        <h3>{{fl.name}}</h3>

        <p class="ml-2 md:ml-4">▼</p>
    </div>

    <div class="pl-3 py-2.5 space-y-3">
        {{#each fl.playlists as |pl|}}
            {{> playlist pl=pl belongsToThisUser=true}}
        {{/each}}
    </div>
</section>