<dialog class="w-full sm:w-3/5 md:w-2/5 mt-40 sm:mt-52 md:mt-64 rounded-sm p-2 outline outline-2 outline-offset-4 outline-stone-500 bg-stone-500 text-stone-100" data-modal="modal" id="{{modalId}}">
    {{> @partial-block}}
    
    <button class="font-semibold mt-0.5" id="{{closeBtnId}}" data-for-modal="{{modalId}}">Close</button>
</dialog>