<dialog class="modal" data-modal="modal" id="{{modalId}}">
    {{> @partial-block}}
    
    <button class="font-semibold mt-0.5" id="{{closeBtnId}}" data-for-modal="{{modalId}}">Close</button>
</dialog>