<dialog class="w-2/5 rounded-sm p-2 outline outline-2 outline-offset-4 outline-stone-500 bg-stone-500 text-stone-100" data-modal="modal" id="{{modalId}}">
    {{> @partial-block}}
    
    <button class="font-semibold" data-modal-btn="close-modal" data-for-modal="{{modalId}}">Close</button>
</dialog>