
<form id="playlist-form">
    <div>
        <label for="playlist-name" class="form-label">Title <span class="required" title="Required">*</span></label>
        <input id="playlist-name" name="playlist-name" class="form-control" value="{{title}}">
        {{!-- value will be filled out if a title property is present --}}
    </div>

    <hr>

    <div>
        <label class="form-label">Songs</label>

        <p>Double-click an item to move it.</p>

        <ul class="form-song-list" id="selected-songs">
            {{#each songs as |s|}}
                {{> song s}}
            {{/each}}
            {{!-- selected songs will be printed here --}}
        </ul>

        <label for="song-search" class="block mb-0.5">Search:</label>
        <input id="song-search" name="song-search" class="form-control">

        <ul class="form-song-list" id="song-search-results">
            {{!-- songs will print out in here --}}
        </ul>
    </div>

    <hr>

    <button type="submit" class="rectangle-btn">Submit</button>
</form>