<section class="border-2 border-stone-300 mb-3">
    <div class="bg-stone-300 p-1.5 flex justify-between sm:justify-start pl-title">
        <h3>{{pl.title}}</h3>
        <p class="ml-2 md:ml-4">▼</p>
    </div>
    
    <div class="hidden">
        {{#if belongsToThisUser}}
        <div class="border-t-2 border-stone-400">
            <a role="button" href="/edit-playlist/{{pl._id}}" class="inline-block w-36 bg-stone-300 p-2">Edit</a>

            <button type="button" data-id="{{pl._id}}" class="inline-block w-36 bg-stone-300 p-2 text-left del-btn">Delete</button>
        </div>
        {{/if}}

        <div class="pl-3 py-2.5">
        <ul class="divide-y space-y-1.5">
            {{#each pl.songs as |song|}}
                {{> song song}}
            {{/each}}
        </ul>

        <hr class="my-4 border-stone-400">

        <p class="-mt-2"><a href="/playlists/{{pl._id}}">Link to this playlist.</a></p>

        </div>
    </div>
</section>