<section class="border-2 border-stone-300 mb-3">
    <div class="bg-stone-300 p-1.5 flex justify-between sm:justify-start pl-title">
        <h3>{{this.title}}</h3>
        <p class="ml-2 md:ml-4">▼</p>
    </div>
    
    

    <div class="hidden">
        <div class="border-t-2 border-stone-400">
            <a role="button" href="/playlists/edit/{{this._id}}" class="inline-block w-36 bg-stone-300 p-2">Edit</a>

            <button type="button" data-id="{{this._id}}" class="inline-block w-36 bg-stone-300 p-2 text-left">Delete</button>
        </div>

        <ul class="pl-3 py-2.5 divide-y space-y-1.5">
        {{#each this.songs as |song|}}
            {{> song song}}
        {{/each}}
    </ul>
    </div>
</section>