<form id="user-form">
    <label for="username" class="form-label">Username</label>
    <input id="username" name="username" class="form-control">

    <label for="password" class="form-label">Password</label>
    <input id="password" name="password" class="form-control">

    <hr class="border-stone-400/50">

    <button type="submit" class="rectangle-btn">Submit</button>
</form>