<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/output.css" rel="stylesheet">
    <title>Setlist</title>
</head>
<body>
    <header class="bg-stone-400 py-2.5">
        <h1 class="text-xl text-center">SETLIST</h1>

        <nav class="flex flex-row flex-wrap justify-start px-3 sm:px-6">
            {{#if loggedIn}}
            <div class="nav-link">
                <a href="/playlists">My Playlists</a>
            </div>
            <div class="nav-link">
                <a href="/add-song">Submit a Song</a>
            </div>
            <div class="nav-link">
                <a href="/edit-song">Edit a Song</a>
            </div>
            <div class="nav-link">
                <button type="button" id="logout">Logout</button>
            </div>
            {{else}}
            <div class="nav-link">
                <a href="/login">Log In</a>
            </div>
            <div class="nav-link">
                <a href="/signup">Sign Up</a>
            </div>
            {{/if}}
        </nav>
    </header>

    <main class="px-6 py-4">
        {{{body}}}
    </main>

    {{#if loggedIn}}
        <script src="/js/logout.js"></script>
    {{/if}}
</body>
</html>