<div class="mb-4">
    <h2 class="page-title">Contact and Support</h2>
</div>

<div class="flex flex-row flex-wrap gap-2">
    <section class="flex-auto basis-96">
        <h3 class="text-xl border-l-4 border-stone-400 mb-2.5 pl-4">
            <i class="fa-solid fa-record-vinyl mr-1.5"></i>
            Contact Me
        </h3>

        <p>Did you find a bug? Do you have a great idea for the future of the website? Is there a quirk of the UI that's making it hard to use? You can reach out to me at <a class="text-amber-700 underline" href="mailto:foundfootage@protonmail.com">foundfootage@protonmail.com</a>. Alternatively, you can fill out the form below, and it'll get to me.</p>

        <p>If you have a bug report, please give a <em>detailed description</em> of where and when it happened, so it's easy for me to diagnose!</p>
        
        <form>
            <p>your email</p>
            <p>your name</p>
            <p>subject</p>
            <p>message</p>
        </form>
    </section>

    <section class="flex-auto basis-96">
        <h3 class="text-xl border-l-4 border-stone-400 mb-2.5 pl-4">
            <i class="fa-solid fa-record-vinyl mr-1.5"></i>
            Find Us on Github
        </h3>
        
        <p>You can also file bug reports on Setlist's <a class="text-amber-700 underline" href="https://github.com/FinnStitcher/setlist/issues">Github Issues</a> page. This is also where to go if you want to see a little bit of what's planned for the future.</p>
    </section>

    <section class="flex-auto basis-96">
        <h3 class="text-xl border-l-4 border-stone-400 mb-2.5 pl-4">
            <i class="fa-solid fa-record-vinyl mr-1.5"></i>
            Donate
        </h3>

        <p>Setlist is run by a single developer. If you like what I do here, consider <a class="text-amber-700 underline" href="https://ko-fi.com/finnphillips">tipping me on Ko-Fi</a> to pay for distribution.</p>
    </section>
</div>