<div class="mb-4">
    <h2 class="page-title">Create Playlist</h2>
</div>

{{> playlist-form}}

{{#> modal modalId="pl-modal" closeBtnId="pl-modal-close-btn"}}
    <p></p>
{{/modal}}

<script src="/js/create-playlist.js"></script>