<div class="mb-4">
    <h2 class="page-title">Submit a Song</h2>
</div>

<form id="song-form">
    <label for="song-title" class="block text-lg mb-0.5">Title <span class="required" title="Required">*</span></label>
    <input id="song-title" name="song-title" class="form-control">

    <label for="song-artist" class="block text-lg mb-0.5">Artist <span class="required" title="Required">*</span></label>
    <input id="song-artist" name="song-artist" class="form-control">

    <label for="song-album" class="block text-lg mb-0.5">Album</label>
    <input id="song-album" name="song-album" class="form-control">

    <label for="song-year" class="block text-lg mb-0.5">Year</label>
    <input id="song-year" name="song-year" type="number" class="form-control">

    <hr class="border-stone-400/50">

    <button type="submit" class="rectangle-btn">Submit</button>
</form>

<hr>

<div>
    <h3 class="text-lg">Are you thinking of...?</h3>

    <ul class="form-song-list" id="suggested-songs">
        {{!-- songs will print out here --}}
    </ul>
</div>

{{#> modal modalId="song-modal" closeBtnId="song-modal-close-btn"}}
    <p></p>
{{/modal}}

<script type="module" src="/js/create-song.js"></script>
<script type="module" src="/js/client-utils.js"></script>