<div class="mb-4">
    <h2 class="text-xl mb-1 border-b-2 border-stone-300">Submit a Song</h2>
</div>

<form id="song-form">
    <label for="song-title" class="block text-lg mb-0.5">Title</label>
    <input id="song-title" name="song-title" class="block w-full md:w-96 border border-amber-600/50">

    <label for="song-artist" class="block text-lg mb-0.5">Artist</label>
    <input id="song-artist" name="song-artist" class="block w-full md:w-96 border border-amber-600/50">

    <label for="song-album" class="block text-lg mb-0.5">Album</label>
    <input id="song-album" name="song-album" class="block w-full md:w-96 border border-amber-600/50">

    <label for="song-year" class="block text-lg mb-0.5">Year</label>
    <input id="song-year" name="song-year" type="number" class="block w-full md:w-96 border border-amber-600/50">

    <hr class="my-4 border-stone-400/50">

    <button type="submit" class="block w-48 bg-stone-300 p-2">Submit</button>
</form>

<hr class="my-4 border-stone-400">

<div>
    <h3 class="text-lg">Are you thinking of...?</h3>

    <ul class="bg-stone-200 pl-3 py-2.5 divide-y space-y-1.5 min-h-12 lg:w-3/5" id="suggested-songs">
        {{!-- songs will print out here --}}
    </ul>
</div>

<script src="/js/similar-songs.js"></script>