<div class="mb-4">
    <h2 class="page-title">Create Folder</h2>
</div>

{{> folder-form}}

{{#> modal modalId="modal" closeBtnId="modal-close-btn"}}
    <p></p>
{{/modal}}

<script type="module" src="/js/create-folder.js"></script>