<div class="mb-4">
    <h2 class="text-xl mb-1 border-b-2 border-stone-300">Update Playlist</h2>
</div>

{{> playlist-form playlistData}}

<script src="/js/search-songs.js"></script>
{{!-- <script src="/js/submit-playlist.js"></script> need a unique submit handler --}}