<div class="mb-4">
    <h2 class="page-title">Update Playlist</h2>
</div>

{{> playlist-form playlistData}}

{{#> modal modalId="pl-modal" closeBtnId="pl-modal-close-btn"}}
    <p></p>
{{/modal}}

<script src="/js/edit-playlist.js"></script>