<h2 class="text-xl mb-4 border-b-2 border-stone-300">Your Playlists</h2>

<section class="border-2 border-stone-300 mb-3">
    <div class="bg-stone-300 p-1.5 flex justify-between sm:justify-start">
        <h3>Playlist Name</h3>
        <p class="ml-2 md:ml-4">▼</p>
    </div>

    <ul class="pl-3 py-2.5">
        <li class="mb-1">
            <p class="font-medium">Song</p>
            <p class="text-neutral-700 font-normal">Artist, Album, Year</p>
        </li>
        <li class="mb-1">
            <p class="font-medium">Song</p>
            <p class="text-neutral-700 font-normal">Artist, Album, Year</p>
        </li>
        <li class="mb-1">
            <p class="font-medium">Song</p>
            <p class="text-neutral-700 font-normal">Artist, Album, Year</p>
        </li>
        <li class="mb-1">
            <p class="font-medium">Song</p>
            <p class="text-neutral-700 font-normal">Artist, Album, Year</p>
        </li>
        <li class="mb-1">
            <p class="font-medium">Song</p>
            <p class="text-neutral-700 font-normal">Artist, Album, Year</p>
        </li>
    </ul>
</section>

<section class="border-2 border-stone-300 mb-3">
    <div class="bg-stone-300 p-1 flex justify-between">
        <h3>Playlist Name</h3>
        <p>[up arrow]</p>
    </div>
</section>

<section class="border-2 border-stone-300 mb-3">
    <div class="bg-stone-300 p-1 flex justify-between">
        <h3>Playlist Name</h3>
        <p>[up arrow]</p>
    </div>
</section>