
<div class="w-3/4 m-auto">
<h2 class="text-2xl w-56 m-auto mb-3 border-b-4 border-stone-300 text-center">Welcome to Setlist</h2>

<p class="mb-4">Setlist is the new home for your playlists. Create an account to start making playlists, using a database of songs submitted by users like you.</p>

<div class="w-72 m-auto border-4 border-stone-300 text-center py-1">
    <a href="/login" class="text-lg">Log In</a>
    <p>or</p>
    <a href="/signup" class="text-lg">Sign Up</a>
</div>

</div>