<div class="mb-4">
    <h2 class="text-xl mb-1 border-b-2 border-stone-300">Log In to Setlist</h2>
</div>

{{> user-form }}

{{#> modal modalId="login-modal" closeBtnId="login-modal-close-btn"}}
    <p>You're logged in. Redirecting you now...</p>
{{/modal}}

<script src="/js/login-user.js"></script>