<div class="mb-4">
    <h2 class="text-xl mb-1 border-b-2 border-stone-300">Log In to Setlist</h2>
</div>

{{> user-form }}

<dialog id="modal" class="w-2/5 rounded-sm p-2 outline outline-2 outline-offset-4 outline-stone-500 bg-stone-500 text-stone-100 modal">
    <p>You're logged in. Redirecting you now...</p>
    <button class="font-semibold" data-btnuse="close-modal">Close</button>
</dialog>

<script src="/js/login-user.js"></script>