<div class="mb-4">
    <h2 class="text-xl mb-1 border-b-2 border-stone-300">Log In to Setlist</h2>
</div>

<form id="login-form">
    <label for="username" class="block text-lg mb-0.5">Username</label>
    <input id="username" name="username" class="block w-full md:w-96 border border-amber-600/50">

    <label for="password" class="block text-lg mb-0.5">Password</label>
    <input id="password" name="password" class="block w-full md:w-96 border border-amber-600/50">

    <hr class="my-4 border-stone-400/50">

    <button type="submit" class="block w-48 bg-stone-300 p-2">Submit</button>
</form>