<div class="mb-4">
    <h2 class="page-title">Your Folders</h2>

    <a role="button" href="/new-folder" class="rectangle-btn">Create New +</a>

    <a role="button" href="/playlists" class="rectangle-btn">Manage Playlists</a>
</div>

<div id="folder-container">
    {{#each userData.folders as |fl|}}
        {{> folder-no-collapse fl=fl}}
    {{/each}}
</div>

{{#> modal modalId="confirm-del-modal" closeBtnId="confirm-del-close-btn"}}
    <p>Are you sure you want to delete this folder? If you want it back, you have to entirely remake it.</p>

    <button class="font-semibold block mt-0.5" id="confirm-del-btn" data-for-modal="confirm-del-modal">Yes, I want to delete it</button>
{{/modal}}

{{#> modal modalId="del-complete-modal" closeBtnId="del-complete-close-btn"}}
    <p>Your folder was successfully deleted. The page will now reload.</p>
{{/modal}}

<script type="module" src="/js/delete-folder.js"></script>