<div class="mb-4">
    <h2 class="page-title">Create an Account</h2>
</div>

{{> user-form}}

{{#> modal modalId="signup-modal" closeBtnId="signup-modal-close-btn"}}
    <p>Congratulations on your new Setlist account! You're logged in. Redirecting now...</p>
{{/modal}}

<script src="/js/submit-user.js"></script>