<div class="mb-4">
    <h2 class="text-xl mb-1 border-b-2 border-stone-300">Create an Account</h2>
</div>

{{> user-form}}

{{#> modal modalId='signup-modal'}}
    <p>Congratulations on your new Setlist account! You're logged in. Redirecting now...</p>
{{/modal}}

<script src="/js/submit-user.js"></script>