<div class="mb-4">
    <h2 class="page-title">
        User: {{userData.username}}
    </h2>
</div>

<div id="playlist-container">
    {{#each userData.playlists as |pl|}}
        {{#> collapsing-box title=pl.title belongsToThisUser=../belongsToThisUser}}
            {{> playlist pl=pl}}
        {{/collapsing-box}}
    {{/each}}
</div>

<script src="/js/toggle-playlist.js"></script>