<div class="mb-4">
    <h2 class="text-xl mb-1 border-b-2 border-stone-300">Your Playlists</h2>

    <a role="button" href="/add-playlist" class="inline-block w-48 bg-stone-300 p-2">Create New +</a>
    <button role="button" class="inline-block w-48 bg-stone-300 p-2 ml-1 text-left">Share Profile</button>
    {{!-- this button will pull up a modal with the text, for now --}}
</div>

<div id="playlist-container">
    {{#each userData.playlists as |pl|}}
        {{> playlist pl=pl belongsToThisUser=../belongsToThisUser}}
    {{/each}}
</div>

<script src="/js/toggle-playlist.js"></script>
<script src="/js/delete-playlist.js"></script>