<div class="mb-4">
    <h2 class="text-xl mb-1 border-b-2 border-stone-300">Your Playlists</h2>

    <a role="button" href="/playlists/new" class="block w-48 bg-stone-300 p-2">Create New +</a>    
</div>

<div id="playlist-container">
    {{#each data.playlists as |pl|}}
        {{> playlist pl}}
    {{/each}}    
</div>

<script src="/js/toggle-playlist.js"></script>